<!doctype html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>タイトルジェネレーター</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/index.css">
  <script type="text/javascript" src="static/js/script.js"></script>
</head>

<body>
  <h1>見出し生成</h1>
  <form action="/generate" method="post">
    <div class="inputs">
      <label class="label">記事本文</label>
      <textarea name="article" , class="input_form">
         {{sample}}
       </textarea>
    </div>
    <div class="inputs">
      <label class="label">見出し生成数</label><input type="number" name="beamwidth" value="1">
    </div>
    <div class="btn-area">
      <input type="submit" value="生成する">
    </div>
  </form>
</body>

</html>