[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
numpy = "*"
pandas = "*"
reppy = "*"
pysocks = "*"
selenium = "*"
scrapy = "*"
mecab-python3 = "*"
matplotlib = "*"
mojimoji = "*"
jupyterlab = "*"

[dev-packages]


[requires]
python_version = "3.8"
